* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: "Space-Grotesk";
  src:
    url("fonts/SpaceGrotesk-VariableFont_wght.woff2") format("woff2"),
    url("fonts/SpaceGrotesk-VariableFont_wght.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
    --font-type-main: 'Space-Grotesk', sans-serif;
    --font-color-primary: #ffff;
    --background-color-primary: #6b7280;
    --font-color-accent: #10b981;
    --font-size-small: 0.8em;
    --font-size-base: 1.2em;
    --font-size-large: 2.4em;
    --font-size-largest: 4.8em;
    --shadow-basic: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body {
    font-family: var(--font-type-main);
    /* color: var(--font-color-primary); */
    color: black;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}
/* HEADER */

.header {
    padding: 2em;
    background-color: var(--background-color-primary);
    box-shadow: var(--shadow-basic);
}

.header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

li.header-title {
    font-size: var(--font-size-large);
    font-weight: bold;
    margin-right: auto; 
}

li .add-button {
    font-size: var(--font-size-base);
    color: var(--font-color-primary);
    background-color: transparent;
    border-color: transparent;
}

li .add-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* MAIN CONTENT */


dialog {
    font-size: var(--font-size-base);
    transform: translate(-50%, -50%);
    background-color: #9ca3af;
    position: fixed;
    text-align: center;
    top: 30%;
    left: 50%;
    border-radius: 8px;
    padding: 1.2em;
}

dialog .book-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.book-form p {
    font-weight: bolder;
    font-size: var(--font-size-base);
}

.book-form input {
    width: 1fr;
    border-radius: 5px;
    background-color: white;
    font-size: var(--font-size-base);
    padding: 1em;
    border: none;
}

.book-form .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.button-container button {
    font-size: var(--font-size-small);
    background-color: var(--font-color-accent);
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
    border: var(--background-color-primary);
    font-weight: bolder;
    color: black;
    padding: 1em;
    cursor: pointer;
    border-radius: 5px;
}





